/* GENERAL STYLES START */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background: #9EE5F8;
}

/* Book */
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front, .back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.back {
    z-index: 0;
}

.front-content, .back-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.back-content{
    transform: rotateY(180deg);
}

/* Paper flip effect */
.flipped .front, .flipped .back {
    transform: rotateY(-180deg);
}


/* Controller Buttons */
button {
    display: flex;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #74AF39;
    font-size: 50px;
}
i {
    font-size: 50px;
    color: #372254;
}

/* Paper stack order */
#p1 {
    z-index: 11;
}

#p2 {
    z-index: 10;
}

#p3 {
    z-index: 9;
}

#p4 {
    z-index: 8;
}

#p5 {
    z-index: 7;
}

#p6 {
    z-index: 6;
}

#p7 {
    z-index: 5;
}

#p8 {
    z-index: 4;
}

#p9 {
    z-index: 3;
}

#p10 {
    z-index: 2;
}

#p11 {
    z-index: 1;
}


/* GENERAL STYLES END */





/* CAROLINE CSS START */
 
/* F1 Start */
#f1 {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.front-content h3 {
    text-align: center;
    margin: 0;
   font-size: 2rem;
}
   /*COVER PAGE END*/
/* F1 End */

/* B1 Start*/

#b1 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }

.b1-whole {
    height: 29rem;
    width: 100%;
    max-height: 29rem;
    background-color: lightgray;
}


/* F2 Start */
#f2 {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    position: fixed;
    font-size: small;
}

.f2-whole {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    max-height: 29rem;
    overflow: hidden;
}

.f2-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: lightgray;
    height: 14rem;
    margin-bottom: 1rem;
}

.f2-bottom {
display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    background-color: lightgray;
    height: 10rem;
}

    .f2-text1 {
        padding: 0.125rem;
        grid-row: 1;
        grid-column: 1 / 3;
        color: black;
        align-self: center;
    }

    .f2-text2 {
grid-row: 5; 
grid-column: 1 / -1; 
color: black; 
align-self: end; 
}

.f2-middle {
   padding: 0.125rem;
   grid-row: 2;
   grid-column: 1 / 3;
   color: black;
   align-self: center;
}

/* B2 start */
#b2 {
    height: 100%;
    width: 100%;
    padding: 1rem;
    font-size: small;
    }

.b2-whole {
    height: 29rem;
    max-height: 29rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    }

    .b2-top {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 1.5rem;
    }

        .b2-img1 {
            width: 10rem;
            height: 10rem;
            background-color: lightgray;
            flex-grow: 1;
        }

        .b2-text1 {
            padding: 0;
            padding-right: 0.5rem;
            text-wrap: wrap;
            width: 50%;
            padding-left: 0.5rem;
        }

    .b2-bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding-top: 1.5rem;
    }

        .b2-img2 {
            width: 10rem;
            height: 10rem;
            background-color: lightgray;
        }

        .b2-text2 {
            padding: 0;
            text-wrap: wrap;
            width: 50%;
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }

/* F3 start */
#f3 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }

.f3-whole {
    align-items: stretch;
    height: 29rem;
    width: 100%;
    max-height: 29rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem;
    overflow: hidden;
    }

        .f3-whitespace-top {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        align-self: center;
        }

        .f3-img1 {
        background-color: lightgray;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        height: 18rem;
        width: 100%;
        }

        .f3-whitespace-bottom {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        align-self: center;
        }

/*F3 END*/

/*B3 START*/

#b3 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }

.b3-whole {
    align-items: stretch;
    height: 29rem;
    width: 100%;
    max-height: 29rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem;
    overflow: hidden;
    }

        .b3-top {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        align-self: center;
        }

        .b3-img1 {
        background-color: lightgray;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        height: 18rem;
        width: 100%;
        }

        .b3-bottom {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        align-self: center;
        }

/* B3 END */

/* F4 Start */

#f4 {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    position: fixed;
    font-size: small;
}

.f4-whole {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    max-height: 29rem;
    overflow: hidden;
}

    .f4-top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

        background-color: lightgray;
        height: 14rem;
        margin-bottom: 1rem;
    }

        .f4-text1 {
            padding: 0.125rem;
            grid-row: 1;
            grid-column: 1 / -1;
            color: black;
            align-self: center;
        }

    .f4-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

        background-color: lightgray;
        height: 14rem;
    }

        .f4-text3 {
            padding: 0.125rem;
            grid-row: 1;
            grid-column: 1 /-1;
            color: black;
            align-self: center;
        }

/*F4 END*/

/* F4 End */
/* CAROLINE CSS END */





/* ALEX CSS START */
    /* B4 Start */
    #b4 {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        position: fixed;
        font-size: small;
    }

    .b4-whole {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        max-height: 29rem;
        overflow: hidden;
    }

        .b4-top {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

            background-color: lightgray;
            height: 14rem;
            margin-bottom: 1rem;
        }

            .b4-text1 {
                padding: 0.125rem;
                grid-row: 1;
                grid-column: 1 / 3;
                color: black;
                align-self: center;
            }

            .b4-text2 {
                padding: 0.125rem;
                grid-row: 2;
                grid-column: 1 / 3;
                color: white;
                align-self: center;
            }

        .b4-bottom {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

            background-color: lightgray;
            height: 14rem;
        }

            .b4-text3 {
                padding: 0.125rem;
                grid-row: 1;
                grid-column: 1 / 4;
                color: black;
                align-self: center;
            }

            .b4-text4 {
                padding: 0.125rem;
                grid-row: 2;
                grid-column: 1 / 4;
                color: white;
                align-self: center;
            }
    /* B4 End */



    /* F5 Start */
        #f5 {
        height: 100%;
        width: 100%;
        display: flex;           
        align-items: center;            
        flex-direction: column; 
        padding: 1rem;
        position: fixed;
        font-size: small;
        }

        .f5-whole {
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        overflow: hidden;
        }
            

            .f5-top {
                grid-row: 1;
                grid-column: 1 / 5;
                color: black;
                align-self: center;
            }

            .f5-bottom {
                grid-row: 2 / 8;
                grid-column: 1 / 5;
                background-color: lightgray;
            }

            .f5-text2 {
                grid-row: 2 / 4;
                grid-column: 1 / 3;
                color: white;
                align-self: center;
                padding: 0.125rem;
            }
    /* F5 End */



    /* B5 Start */
    #b5 {
        height: 100%;
        width: 100%;
        display: flex;           
        align-items: center;            
        flex-direction: column; 
        padding: 1rem;
        position: fixed;
        font-size: small;
        }

        .b5-whole {
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.25rem;
        overflow: hidden;
        }

            .b5-top {
            background-color: lightgray;
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            height: 20rem;
            }

            .b5-bottom {
            align-self: center;
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            }
    /* B5 End */



    /* F6 Start */
    #f6 {
        height: 100%;
        width: 100%;
        display: flex;           
        align-items: center;            
        flex-direction: column; 
        padding: 1rem;
        position: fixed;
        font-size: small;
        }

        .f6-whole {
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.25rem;
        overflow: hidden;
        }

            .f6-top {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            align-self: center;
            }

            .f6-bottom {
            background-color: lightgray;
            height: 20rem;
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            }
    /* F6 End */



    /* B6 Start */
    #b6 {
        height: 100%;
        width: 100%;
        display: flex;           
        align-items: center;            
        flex-direction: column; 
        padding: 1rem;
        position: fixed;
        font-size: small;
        }

        .b6-whole {
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0.5rem;
        overflow: hidden;
        }

            .b6-top {
            background-color: lightgray;
            grid-row: 1 / 3;
            grid-column: 1 / 3;
            }

                .b6-text1 {
                    padding: 0.125rem;
                    grid-row: 1;
                    grid-column: 1 / 2;
                    color: black;
                }

                .b6-text2 {
                    padding: 0.125rem;
                    grid-row: 1;
                    grid-column: 1 / 2;
                    color: white;
                }


            .b6-middle {
            background-color: lightgray;
            grid-row: 3 / 5;
            grid-column: 1 / 3;
            }

                .b6-text3 {
                    padding: 0.125rem;
                    grid-row: 3;
                    grid-column: 1 / 2;
                    color: black;
                }

                .b6-text4 {
                    padding: 0.125rem;
                    grid-row: 3;
                    grid-column: 1 / 2;
                    color: white;
                }


            .b6-bottom {
            background-color: lightgray;
            grid-row: 5 / 7;
            grid-column: 1 / 3;
            }

                .b6-text5{
                padding: 0.125rem;
                grid-row: 5;
                grid-column: 1 / 2;
                color: black;
                }

                .b6-text6{
                padding: 0.125rem;
                grid-row: 5;
                grid-column: 1 / 2;
                color: white;
                }
    /* B6 End */



    /* F7 Start */
    #f7 {
        height: 100%;
        width: 100%;
        display: flex;           
        align-items: center;            
        flex-direction: column; 
        padding: 1rem;
        position: fixed;
        font-size: small;
        }

    .f7-whole {
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0.5rem;
        overflow: hidden;
        }

            .f7-top {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            align-self: center;
            }

            .f7-middle {
            background-color: lightgray;
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            height: 18rem;
            width: 100%;
            }

            .f7-bottom {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
            align-self: center;
            }
    /* F7 End */



    /* B7 Start */
    #b7 {
        height: 100%;
        width: 100%;
        padding: 1rem;
        font-size: small;
        }

    .b7-whole {
        height: 29rem;
        max-height: 29rem;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        }

        .b7-top {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            padding-bottom: 1.5rem;
        }

            .b7-img1 {
                width: 10rem;
                height: 10rem;
                background-color: lightgray;
                flex-grow: 1;
            }

            .b7-text1 {
                padding: 0;
                text-wrap: wrap;
                width: 50%;
                padding-left: 0.5rem;
            }

        .b7-bottom {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            padding-top: 1.5rem;
        }

            .b7-img2 {
                width: 10rem;
                height: 10rem;
                background-color: lightgray;
            }

            .b7-text2 {
                padding: 0;
                text-wrap: wrap;
                width: 50%;
                padding-right: 0.5rem;
            }

            
    /* B7 End */



    /* F8 Start */ 
    #f8 {
        height: 100%;
        width: 100%;
        display: flex;           
        align-items: center;            
        flex-direction: column; 
        padding: 1rem;
        position: fixed;
        font-size: small;
        }

        .f8-whole {
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0.5rem;
        overflow: hidden;
        }

        .f8-top {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        background-color: lightgray;
        }

        .f8-middle {
        grid-row: 2 / 3;
        grid-column: 1 / 3;

        display: flex;
        flex-direction: row;
        }

            .f8-img2 {
                width: 10rem;
                height: 10rem;
                background-color: lightgray;
                flex-grow: 1;
            }

            .f8-text3 {
                padding: 0;
                text-wrap: wrap;
                width: 50%;
                padding-right: 0.5rem;
                align-self: center;
            }

        .f8-bottom {
            grid-row: 3 / 4;
            grid-column: 1 / 3;

            display: flex;
            flex-direction: row-reverse;
            }

                .f8-img3 {
                    width: 10rem;
                    height: 10rem;
                    background-color: lightgray;
                    flex-grow: 1;
                }

                .f8-text4 {
                    padding: 0;
                    text-wrap: wrap;
                    width: 50%;
                    padding-left: 0.5rem;
                    align-self: center;
                }
    /* F8 End */



    /* Kissing Scene Start*/
        /* Kissing Scene Page Start */
        .kissing {
            position: absolute;
            background-color: red;
            opacity: 0;
            display: none;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            }

                    .kissing-left{
                    width: 50%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    }

                    .kissing-right{
                    width: 50%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr;
                    }
        /* Kissing Scene Page End */

        /* Kissing Scene Button Start */
            .kissing-scene-button
            {
                width:15px;
                height:15px;
                border-radius: 50%;
                background-color: red;
                z-index: 20;
                display: flex;
                cursor: pointer;
                margin-bottom: 15rem;
            }

            .kissing-scene-button:hover
            {
                background-color: blue;
            }

            .kissing{
                cursor: pointer;
            }
        /* Kissing Scene Button End */

        /*kissing hack*/
         .kissing {
            display: none;
            opacity:100%;        
        }
    /* Kissing Scene End*/
/* ALEX CSS END */


/* SEBASTIEN CSS START */
/*b8 start*/
#b8 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }

    .b8-whole 
    {
    align-items: stretch;
    height: 29rem;
    width: 100%;
    max-height: 29rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.25rem;
    overflow: hidden;
    }

    .b8-top 
    {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: center;
    }

    .b8-bottom 
    {
    background-color: lightgray;
    height: 20rem;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    }
/*b8 end*/
/*f9 start*/
#f9 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }

    .f9-whole {
    align-items: stretch;
    height: 29rem;
    width: 100%;
    max-height: 29rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 0.5rem;
    overflow: hidden;
    }

    .f9-top {
    background-color: lightgray;
    grid-row: 1 / 5;
    grid-column: 1 / 3;
    }

    .f9-text1 {
    padding: 0.125rem;
    grid-row: 1;
    grid-column: 1 / 2;
    color: black;
    }

    .f9-bottom {
    background-color: lightgray;
    grid-row: 5 / 8;
    grid-column: 1 / 3;
    }
    
    .f9-text2{
    padding: 0.125rem;
    grid-row: 5;
    grid-column: 1 / 2;
    color: black;
    }
/*f9 end*/
/*b9 start*/
#b9 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }
    .b9-whole{
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        gap: 0.5rem;
        overflow: hidden;
    }
    .b9-top {
        background-color: lightgray;
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }
    .b9-text1{
        padding: 0.125rem;
        grid-row: 5;
        grid-column: 1 / 2;
        color: black; 
    }
 
    .b9-middle{
        padding: 0.125rem;
        grid-row: 3;
        grid-column: 1/3;
        color: black; 
    }

    .b9-bottom {
        background-color: lightgray;
        grid-row: 4 / 7;
        grid-column: 1 / 3;
    }

    .b9-bottom2{
        padding: 0.125rem;
        grid-row: 7;
        grid-column: 1/3 ;
        color: black; 
    }
    
    .b9-text2{
        padding: 0.125rem;
        grid-row: 3;
        grid-column: 1 / 2;
        color: black; 
    }
    .b9-text3{
        padding: 0.125rem;
        grid-row: 7;
        grid-column: 1 / 2;
        color: black; 
    }
/*b9 end*/
/*f10 start*/
#f10 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }
.f10-whole{
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        gap: 0.5rem;
        overflow: hidden;
        background-color: lightgray;
        grid-row: 4 / 6;
        grid-column: 1 / 3;
}
.f10-text1{
    padding: 0.125rem;
        grid-row: 1;
        grid-column: 1 / 3;
        color: black;
}
.f10-text2{
    padding: 0.125rem;
        grid-row: 7;
        grid-column: 1 / 3;
        color: black;
}

/*f10 end*/
/*b10 start*/
#b10 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }
    .b10-whole{
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        gap: 0.5rem;
        overflow: hidden;
        background-color: lightgray;
        grid-row: 4 / 6;
        grid-column: 1 / 3;
}
.b10-text1{
    padding: 0.125rem;
    grid-row: 1;
    grid-column: 1 / 3;
    color: black;
}
.b10-text2{
    padding: 0.125rem;
    grid-row: 7;
    grid-column: 1 / 3;
    color: black;
}
/*b10 end*/
/*f11 start*/
#f11 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }
/*f11 end*/
/*b11 end*/
#b11 {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.back-content h2 {
    text-align: center;
    margin: 0;
   font-size: 2rem;
}
/*b11 end*/
/* SEBASTIEN CSS END */