/* GENERAL STYLES START */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Indie Flower';
    font-weight: 500;
    background: #9EE5F8;
    overflow: hidden;
}

/* Book */
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front, .back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.back {
    z-index: 0;
}

.front-content, .back-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.back-content{
    transform: rotateY(180deg);
}

/* Paper flip effect */
.flipped .front, .flipped .back {
    transform: rotateY(-180deg);
}


/* Controller Buttons */
button {
    display: flex;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #74AF39;
    font-size: 50px;
}
i {
    font-size: 50px;
    color: #372254;
}

/* Paper stack order */
#p1 {
    z-index: 11;
}

#p2 {
    z-index: 10;
}

#p3 {
    z-index: 9;
}

#p4 {
    z-index: 8;
}

#p5 {
    z-index: 7;
}

#p6 {
    z-index: 6;
}

#p7 {
    z-index: 5;
}

#p8 {
    z-index: 4;
}

#p9 {
    z-index: 3;
}

#p10 {
    z-index: 2;
}

#p11 {
    z-index: 1;
}


/* GENERAL STYLES END */





/* CAROLINE CSS START */
 
/* F1 Start */
#f1 {
    background-image: url(art/cover.png);
    background-size: cover;
    display: flex;
    justify-self: center;
    align-self: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.front-content h3 {
    text-align: center;
    margin: 0;
   font-size: 2rem;
}
   /*COVER PAGE END*/
/* F1 End */

/* B1 Start*/

#b1 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }

.b1-whole {
    height: 29rem;
    width: 100%;
    max-height: 29rem;
    background-image: url("art/b1-img1.png");
    background-size: cover;
}

.b1-text1 {
    padding: 0.125rem;
    color: white;
    align-self: center;
    font-size: small;
}


/* F2 Start */
#f2 {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    position: fixed;
    font-size: small;
}

.f2-whole {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    max-height: 29rem;
    overflow: hidden;
}

.f2-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-image: url(art/f2-img1.png);
    background-size: cover;
    height: 12rem;
}

    .f2-text1 {
        padding: 0.125rem;
        grid-row: 1;
        grid-column: 1 / 3;
        color: black;
        align-self: center;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 0.5rem;
        margin-left: 1rem;
    }

    .f2-text1:hover {
        background: rgba(255, 255, 255, 0.8);
        font-weight: 700;
    }

    .f2-text2 {
        grid-row: 5; 
        grid-column: 1 / -1; 
        color: black; 
        align-self: end; 
        background: rgba(255, 255, 255, 0.5);
        border-radius: 0.5rem;
        margin: 1rem;
        padding: 0.125rem;
        text-align: center;
    }

    .f2-text2:hover {
        background: rgba(255, 255, 255, 0.8);
        font-weight: 700;
    }

.f2-middle {
   display: flex;
   flex-grow: 1;
   color: black;
   align-items: center;
   justify-content: center;
}

    .f2-text3 {
        text-align: center;
        grid-row: 2;
        grid-column: 1 / 3;
        color: black;
        align-self: center;
        justify-self: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

.f2-bottom {
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        background-image: url(art/f2-img2.png);
        background-size: cover;
        height: 12rem;
    }

/* B2 start */
#b2 {
    height: 100%;
    width: 100%;
    padding: 1rem;
    font-size: small;
    }

.b2-whole {
    height: 29rem;
    max-height: 29rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    }

    .b2-top {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 1.5rem;
    }

        .b2-img1 {
            width: 10rem;
            height: 10rem;
            background-image: url(art/b2-img1.png);
            background-size: cover;
            flex-grow: 1;
        }

        .b2-text1 {
            padding: 0;
            padding-right: 0.5rem;
            text-wrap: wrap;
            width: 50%;
            padding-left: 0.5rem;
        }

    .b2-bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding-top: 1.5rem;
    }

        .b2-img2 {
            width: 10rem;
            height: 10rem;
            background-image: url(art/b2-img2.png);
            background-size: cover;
        }

        .b2-text2 {
            padding: 0;
            text-wrap: wrap;
            width: 50%;
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }

/* F3 start */
#f3 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }

.f3-whole {
    align-items: stretch;
    height: 29rem;
    width: 100%;
    max-height: 29rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem;
    overflow: hidden;
    }

        .f3-whitespace-top {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        align-self: center;
        }

        .f3-img1 {
        background-image: url(art/f3-img1.gif);
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        height: 18rem;
        width: 100%;
        background-size: cover;
        }

        .f3-whitespace-bottom {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        align-self: center;
        }

/*F3 END*/

/*B3 START*/

#b3 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }

.b3-whole {
    align-items: stretch;
    height: 29rem;
    width: 100%;
    max-height: 29rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem;
    overflow: hidden;
    }

        .b3-top {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        align-self: center;
        }

        .b3-img1 {
        background-image: url(art/b3-img1.png);
        background-size: cover;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        height: 18rem;
        width: 100%;
        }

        .b3-bottom {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        align-self: center;
        }

/* B3 END */

/* F4 Start */

#f4 {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    position: fixed;
    font-size: small;
}

.f4-whole {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    max-height: 29rem;
    overflow: hidden;
}

    .f4-top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        background-image: url(art/f4-img1.png);
        background-size: cover;
        height: 14rem;
        margin-bottom: 1rem;
    }

        .f4-text1 {
            padding: 0.125rem;
            grid-row: 1;
            grid-column: 1 / -1;
            color: black;
            align-self: center;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 0.5rem;
            margin: 1rem;
            padding: 0.125rem;
            text-align: center;
        }

            .f4-text1:hover {
                background: rgba(255, 255, 255, 0.8);
                font-weight: 700;
            }

    .f4-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

        background-image: url(art/f4-img2.png);
        background-size: cover;
        height: 14rem;
    }

        .f4-text2 {
            padding: 0.125rem;
            grid-row: 6;
            grid-column: 1 /-1;
            color: black;
            align-self: center;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 0.5rem;
            margin: 1rem;
            padding: 0.125rem;
            text-align: center;
        }

            .f4-text2:hover {
                background: rgba(255, 255, 255, 0.8);
                font-weight: 700;
            }

/*F4 END*/

/* F4 End */
/* CAROLINE CSS END */





/* ALEX CSS START */
    /* B4 Start */
    #b4 {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        position: fixed;
        font-size: small;
    }

    .b4-whole {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        max-height: 29rem;
        overflow: hidden;
    }

        .b4-top {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

            background-image: url(art/b4-img1.png);
            background-size: cover;
            height: 14rem;
            margin-bottom: 1rem;
        }

            .b4-text1 {
                padding: 0.125rem;
                grid-row: 1;
                grid-column: 3 / 5;
                color: black;
                align-self: center;
                background: rgba(255, 255, 255, 0.5);
                border-radius: 0.5rem;
                margin: 1rem;
                padding: 0.125rem;
                text-align: center;
                }

                .b4-text1:hover {
                    background: rgba(255, 255, 255, 0.8);
                    font-weight: 700;
                }

            .b4-text2 {
                padding: 0.125rem;
                grid-row: 5;
                grid-column: 3 / 5;
                color: white;
                align-self: center;
                text-align: center;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 0.5rem;
                margin: 1rem;
                padding: 0.125rem;
            }

                .b4-text2:hover {
                    background: rgba(151, 0, 0, 0.8);
                    font-weight: 700;
                    font-size: larger;
                    grid-column: 1 / -1;
                }

        .b4-bottom {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

            background-image: url(art/b4-bottom.png);
            background-size: cover;
            height: 14rem;
        }

            .b4-text3 {
                padding: 0.125rem;
                grid-row: 1;
                grid-column: 1 / 4;
                color: black;
                align-self: center;
                background: rgba(255, 255, 255, 0.5);
                border-radius: 0.5rem;
                margin: 1rem;
                padding: 0.125rem;
                text-align: center;
            }

                .b4-text3:hover {
                    background: rgba(255, 255, 255, 0.8);
                    font-weight: 700;
                }

            .b4-text4 {
                padding: 0.125rem;
                grid-row: 2;
                grid-column: 1 / 2;
                color: white;
                align-self: center;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 0.5rem;
                margin: 1rem;
                padding: 0.125rem;
            }

                .b4-text4:hover {
                    text-shadow: 0px 0px 5px gold;
                    font-weight: 700;
                }
    /* B4 End */



    /* F5 Start */
        #f5 {
        height: 100%;
        width: 100%;
        display: flex;           
        align-items: center;            
        flex-direction: column; 
        padding: 1rem;
        position: fixed;
        font-size: small;
        }

        .f5-whole {
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        overflow: hidden;
        }
            

            .f5-top {
                grid-row: 1;
                grid-column: 1 / 4;
                color: black;
                align-self: center;
                text-align: center;
            }

            .f5-bottom {
                grid-row: 2 / 8;
                grid-column: 1 / 4;
                background-image: url(art/f5-img1.png);
                background-size: cover;
            }

            .f5-text2 {
                display: flex;
                color: rgba(151, 0, 0, 1);
                font-weight: bold;
                border-radius: 0.5rem;
                margin: 1rem;
                text-shadow: 5px 5px 5px white;
            }

                .f5-text2:hover {
                    font-weight: 700;
                    font-size: larger;
                }
    /* F5 End */



    /* B5 Start */
    #b5 {
        height: 100%;
        width: 100%;
        display: flex;           
        align-items: center;            
        flex-direction: column; 
        padding: 1rem;
        position: fixed;
        font-size: small;
        }

        .b5-whole {
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.25rem;
        overflow: hidden;
        }

            .b5-top {
            background-image: url(art/b5-img1.png);
            background-size: cover;
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            height: 20rem;
            }

            .b5-bottom {
            align-self: center;
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            text-align: center;
            }
    /* B5 End */



    /* F6 Start */
    #f6 {
        height: 100%;
        width: 100%;
        display: flex;           
        align-items: center;            
        flex-direction: column; 
        padding: 1rem;
        position: fixed;
        font-size: small;
        }

        .f6-whole {
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.25rem;
        overflow: hidden;
        }

            .f6-top {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            align-self: center;
            }

            .f6-bottom {
            background-image: url(art/f6.png);
            background-size: cover;
            height: 20rem;
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            }
    /* F6 End */



    /* B6 Start */
    #b6 {
        height: 100%;
        width: 100%;
        display: flex;           
        align-items: center;            
        flex-direction: column; 
        padding: 1rem;
        position: fixed;
        font-size: small;
        }

        .b6-whole {
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0.5rem;
        overflow: hidden;
        }

            .b6-top {
            background-image: url(art/b6-middle.png);
            grid-row: 1 / 3;
            grid-column: 1 / 3;
            background-size: cover;
            height: 10rem;
            margin-top: 10px;
            }

                .b6-text1 {
                    padding: 0.125rem;
                    grid-row: 1;
                    grid-column: 1 / 3;
                    color: black;
                    background: rgba(255, 255, 255, 0.5);
                    border-radius: 0.5rem;
                    margin: 1rem;
                    padding: 0.125rem;
                }

                .b6-text1:hover {
                    background: rgba(255, 255, 255, 0.8);
                    font-weight: 700;
                }

                .b6-text2 {
                    padding: 0.125rem;
                    grid-row: 1;
                    grid-column: 1 / 2;
                    color: white;
                    align-self: center;
                    text-align: center;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 0.5rem;
                    margin: 1rem;
                    padding: 0.125rem;
                }

                .b6-text2:hover {
                    background: rgba(151, 0, 0, 0.8);
                    font-weight: 700;
                    font-size: larger;
                    grid-column: 1 / -1;
                }

            .b6-middle {
                background-color: lightgray;
                background-image: url(art/b4-img1.png);
                background-position: center; 
                grid-row: 3 / 5;
                grid-column: 1 / 3;
                background-size: cover; 
                height: 10rem;
                width: 100%;

            }

                .b6-text3 {
                    padding: 0.125rem;
                    grid-row: 3;
                    grid-column: 1 / 2;
                    color: black;
                    background: rgba(255, 255, 255, 0.5);
                    border-radius: 0.5rem;
                    margin: 1rem;
                    padding: 0.125rem;
                    text-align: left; 
                }

                .b6-text3:hover {
                    background: rgba(255, 255, 255, 0.8);
                    font-weight: 700;
                }

                .b6-text4 {
                    padding: 0.125rem;
                    grid-row: 2;
                    grid-column: 1 / 2;
                    color: white;
                    align-self: center;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 0.5rem;
                    margin: 1rem;
                    padding: 0.125rem;
                    text-align: left;
                }
    
                    .b6-text4:hover {
                        text-shadow: 0px 0px 5px gold;
                        font-weight: 700;
                    }


            .b6-bottom {
            grid-row: 5 / 7;
            grid-column: 1 / 3;
            }

                .b6-text5 {
                    padding: 0.125rem;
                    grid-row: 3;
                    grid-column: 1 / 2;
                    color: black;
                    border-radius: 0.5rem;
                    margin: 1rem;
                    padding: 0.125rem;
                }

            .b6-text6 {
                display: flex;
                color: rgba(151, 0, 0, 1);
                font-weight: bold;
                border-radius: 0.5rem;
                margin: 1rem;
                text-shadow: 5px 5px 5px white;
            }

                .b6-text6:hover {
                    font-weight: 700;
                    font-size: larger;
                }
    /* B6 End */



    /* F7 Start */
    #f7 {
        height: 100%;
        width: 100%;
        display: flex;           
        align-items: center;            
        flex-direction: column; 
        padding: 1rem;
        font-size: small;
        }

    .f7-whole {
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0.5rem;
        overflow: hidden;
        }

            .f7-top {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            align-self: center;
            }

            .f7-middle {
            background-image: url(art/frame18.png);
            background-size: cover;
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            height: 18rem;
            width: 100%;
            }

            .f7-bottom {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
            align-self: center;
            }
    /* F7 End */



    /* B7 Start */
    #b7 {
        height: 100%;
        width: 100%;
        padding: 1rem;
        font-size: small;
        max-height: 29rem;
        }

    .b7-whole {
        height: 29rem;
        max-height: 29rem;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        }

        .b7-top {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
        }

            .b7-img1 {
                background-image: url(art/b7-img1.png);
                width: 10rem;
                height: 10rem;
                background-size: cover;
                flex-grow: 1;
            }

            .b7-text1 {
                padding: 0;
                text-wrap: wrap;
                width: 50%;
                padding-left: 0.5rem;
            }

        .b7-bottom {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
        }

            .b7-img2 {
                background-image: url(art/frame20.png);
                background-size: cover;
                width: 10rem;
                height: 10rem;
                padding-top: 1.5rem;
            }

            .b7-text2 {
                text-wrap: wrap;
                width: 50%;
                padding-right: 0.5rem;
                padding-top: 0.5rem;
                font-size: smaller;
            }

            
    /* B7 End */



    /* F8 Start */ 
    #f8 {
        height: 100%;
        width: 100%;
        display: flex;           
        align-items: center;            
        flex-direction: column; 
        padding: 1rem;
        position: fixed;
        font-size: small;
        }

        .f8-whole {
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0.5rem;
        overflow: hidden;
        }

        .f8-top {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        background-image: url(art/f8-img1.png);
        background-size: cover;
        }

            .f8-text1 {
                grid-row: 2;
                grid-column: 1 / 3;
                color: black;
                background: rgba(255, 255, 255, 0.7);
                border-radius: 0.5rem;
                font-weight: 700;
            }

            .f8-text2 {
                color: white;
                grid-row: 2;
                margin-top: 8rem;
                text-align: center;
            }

                .f8-text2:hover {
                    text-shadow: 0px 0px 5px gold;
                    font-weight: 700;
                }

        .f8-middle {
        grid-row: 2 / 3;
        grid-column: 1 / 3;

        display: flex;
        flex-direction: row;
        }

            .f8-img2 {
                width: 10rem;
                height: 10rem;
                background-image: url(art/f8-img2.png);
                flex-grow: 1;
                background-size: cover;
            }

            .f8-text3 {
                padding: 0;
                text-wrap: wrap;
                width: 50%;
                padding-right: 0.5rem;
                align-self: center;
            }

        .f8-bottom {
            grid-row: 3 / 4;
            grid-column: 1 / 3;

            display: flex;
            flex-direction: row-reverse;
            max-height: 10rem;
            }

                .f8-img3 {
                    width: 10rem;
                    height: 10rem;
                    background-image: url(art/f8-img3.png);
                    background-size: cover;
                    flex-grow: 1;
                }

                .f8-text4 {
                    width: 75%;
                    padding-left: 0.5rem;
                    align-self: right;
                }
    /* F8 End */



    /* Kissing Scene Start*/
        /* Kissing Scene Page Start */
        .kissing {
            position: absolute;
            background-color: white;
            opacity: 0;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            }

                    .kissing-left{
                    width: 50%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    overflow: hidden;
                    align-items: center;
                    justify-content: center;
                    }

                        .kissing-img1 {
                                background-image: url(art/page1.png);
                                display: flex;
                                grid-row: 2;
                                width: 50vw; 
                                height: 100vh; 
                                background-size: contain; 
                                background-position: center top;
                                align-self: center;
                                justify-self: center;
                                background-repeat: no-repeat; 
                                position: fixed;
                    }

                    .kissing-right{
                    width: 50%;
                    height: 100%;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    }

                    .kissing-img2 {
                        background-image: url(art/page2.png);
                        background-position: center top;
                        right: 0;
                        background-size: contain;
                        background-repeat: no-repeat;
                        height: 100vh;
                        width: 50vw;
                        position: fixed;
                        top: 0;
                    }   

                        .kissing-text3 {
                            grid-row: 2;
                            align-self: center;
                            justify-self: center;
                            padding: 0.5rem;
                            padding-top: 1rem;
                            text-align: center;
                            width: 30rem;
                        }

        /* Kissing Scene Page End */

        /* Kissing Scene Button Start */
            .kissing-scene-button
            {
                width:30px;
                height:30px;
                border-radius: 50%;
                background-image: url(art/kiss-sc-btn.png);
                background-size: cover;
                cursor: pointer;
            }

            .kissing-scene-button:hover
            {
                background-color: blue;
            }

            .kissing{
                cursor: pointer;
            }
        /* Kissing Scene Button End */

        /*kissing hack*/
         .kissing {
            display: none;
            opacity:100%;        
        }
    /* Kissing Scene End*/
/* ALEX CSS END */


/* SEBASTIEN CSS START */
/*b8 start*/
#b8 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }

    .b8-whole 
    {
    align-items: stretch;
    height: 29rem;
    width: 100%;
    max-height: 29rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.25rem;
    overflow: hidden;
    }

    .b8-top 
    {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: center;
    }

    .b8-bottom 
    {
    background-image: url(art/b8-img1.png);
    background-color: lightgray;
    height: 20rem;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-size: cover;
    }
/*b8 end*/
/*f9 start*/
#f9 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
}

.f9-whole {
    align-items: stretch;
    height: 29rem;
    width: 100%;
    max-height: 29rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 0.5rem;
    overflow: hidden;
}

.f9-top {
    background-image: url(art/f9-img1.png);
    grid-row: 1 / 5;
    grid-column: 1 / 3;
    background-size: cover;
}

.f9-text1 {
    padding: 0.125rem;
    display: flex;
    color: black;
    background-color: rgb(158,229,248, 0.5);
    text-align: center;
    margin-top: 13rem;
    border-radius: 0.5rem;
}

.f9-text1:hover {
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
}

.f9-bottom {
    background-image: url(art/f9-img2.png);
    background-color: lightgray;
    grid-row: 5 / 8;
    grid-column: 1 / 3;
    background-size: cover;
}

.f9-text2 {
    padding: 0.125rem;
    grid-row: 5;
    grid-column: 1 / 2;
    color: black;
    background-color: rgb(158,229,248, 0.5);
    border-radius: 0.5rem;
}

/*f9 end*/
/*b9 start*/
#b9 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }
    .b9-whole{
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        gap: 0.5rem;
        overflow: hidden;
    }
    .b9-top {
        background-image: url(art/b9-img1.png);
        background-size: cover;
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }
    .b9-text1{
        padding: 0.125rem;
        grid-row: 5;
        grid-column: 1 / 2;
        color: black; 
        background-color: rgb(158,229,248, 0.5);
        border-radius: 0.5rem;
    }
 
    .b9-middle{
        padding: 0.125rem;
        grid-row: 3;
        grid-column: 1/3;
        color: black; 
    }

    .b9-bottom {
        background-image: url(art/b9-img2.png);
        background-size: cover;
        background-color: lightgray;
        grid-row: 4 / 7;
        grid-column: 1 / 3;
    }

    .b9-bottom2{
        padding: 0.125rem;
        grid-row: 7;
        grid-column: 1/3 ;
        color: black; 
    }
    
    .b9-text2{
        padding: 0.125rem;
        grid-row: 3;
        grid-column: 1 / 2;
        color: black; 
    }
    .b9-text3{
        padding: 0.125rem;
        grid-row: 7;
        grid-column: 1 / 2;
        color: black; 
    }
/*b9 end*/
/*f10 start*/
#f10 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }
    .f10-whole {
        background-image: url(art/f10-img1.png);
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0.5rem;
        overflow: hidden;
        background-color: lightgray;
        grid-row: 4 / 6;
        grid-column: 1 / 3;
        background-size: cover; /* Ensure the whole background image is shown */
        background-position: center left; /* Move the image to the right */
    }

.f10-text1{
    padding: 0.125rem;
        grid-row: 1;
        grid-column: 1 / 3;
        color: black;
}
.f10-text2{
    padding: 0.125rem;
        grid-row: 7;
        grid-column: 1 / 3;
        color: black;
}

/*f10 end*/
/*b10 start*/
#b10 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }
    .b10-whole{
        background-image: url(art/b10-img1.png);
        background-size: cover;
        align-items: stretch;
        height: 29rem;
        width: 100%;
        max-height: 29rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        gap: 0.5rem;
        overflow: hidden;
        background-color: lightgray;
        grid-row: 4 / 6;
        grid-column: 1 / 3;
}
.b10-text1{
    padding: 0.125rem;
    grid-row: 1;
    grid-column: 1 / 3;
    color: black;
    background-color: rgb(158,229,248);
    width: 100%;
}
.b10-text2{
    padding: 0.125rem;
    grid-row: 7;
    grid-column: 1 / 3;
    color: black;
    background-color: rgb(158,229,248);
    width: 100%;
}
/*b10 end*/
/*f11 start*/
#f11 {
    height: 100%;
    width: 100%;
    display: flex;           
    align-items: center;            
    flex-direction: column; 
    padding: 1rem;
    position: fixed;
    font-size: small;
    }
/*f11 end*/
/*b11 end*/
#b11 {
    background-image: url(art/cover.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.back-content h2 {
    text-align: center;
    margin: 0;
   font-size: 2rem;
}
/*b11 end*/
/* SEBASTIEN CSS END */

.dialogue {
    font-style: italic;
}